.container_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.sub_container_login{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 900px;
    border: 1px solid #777;
    padding: 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.title{
    color: #20761E;
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 100;
    padding: 10px;
    margin-top: 15px;
    text-transform: capitalize;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.input{
    width: 350px;
    padding: 10px;
    border: 1px solid #777;
    margin-bottom: 25px;
    border-radius: 10px;
}

.checkbox_title{
    text-transform: capitalize;
    color: #777;
}

.checkbox{
    margin:10px 10px 10px 0;
}

.link{
    margin: 10px 10px 10px 0;
    text-decoration: none;
    color: #20761E;
    
}

.button{
    border: 1px solid #777;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: #20761E;
    cursor: pointer;
}

.icones{
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

.senha{
    border: none !important;
}

.borda_senha{
    display: flex;
    border: 1px solid #777; 
    padding: 5px;
    border-radius: 10px; 
    align-items: center;
    justify-content: center;
    height: 45px;  
    margin-bottom: 10px;
}

.borda_senha > input{
    width: 100%;
    margin: 0px !important;
}

.iconesFechado{
    display: none;
}

.button:hover{
    background-color: #20761E;
    color: white;
}

.aviso{
    background-color: black;
    position: absolute;
    text-align: center;
    z-index: 5;
    padding: 25px;
    border-radius: 5px;
    min-width: 250px;
    font-size: 18px;
    color: beige;
    
}

.aviso > button{
    padding: 3px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.aviso > button:hover{
    background-color: #999;
}

